<h2>Listing Entries</h2>

<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Device</th>
      <th>Message</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for entry <- @entries do %>
    <tr>
      <td><%= DateTime.to_string(entry.created_at) %></td>
      <td><%= entry.device_id %></td>
      <td><%= inspect entry.message %></td>
    </tr>
<% end %>
  </tbody>
</table>
