<h2>Show Entry</h2>

<ul>

  <li>
    <strong>Device:</strong>
    <%= @entry.device_id %>
  </li>

  <li>
    <strong>Message:</strong>
    <%= @entry.message %>
  </li>

</ul>

<span><%= link "Edit", to: entry_path(@conn, :edit, @entry) %></span>
<span><%= link "Back", to: entry_path(@conn, :index) %></span>
